# dependencies
/node_modules

# next.js
/.next/
/.next-stale*/
/out/

# production
/build

# local environment files
.env*

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# platform and tooling
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts
